## Exercise 1: MickeyMouse ✅

In [63]:
NoTuple = [] # list for saving the results
for i in range(1, 101):
    if i%5 == 0 and i%3 == 0:
        print('MickeyMouse')
        NoTuple.append('MickeyMouse')
    elif i%5 == 0:
        print('Mouse')
        NoTuple.append('Mouse')
    elif i%3 == 0:
        print('Mickey')
        NoTuple.append('Mickey')    
    else:
        print(i)
        NoTuple.append(i)
    
Tuple = tuple(NoTuple) # results in tuple

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [64]:
Donald = list(Tuple) # changing to list again to change specific elements

for i in range(len(Tuple)):
    if Donald[i] == 'Mickey':
        Donald[i] = 'Donald'
    elif Donald[i] == 'Mouse':
        Donald[i] = 'Duck'
    elif Donald[i] == 'MickeyMouse':
        Donald[i] = 'DonaldDuck'
        
Tuple = tuple(Donald) # change to tuple if neccassary         
print(Tuple)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

## Exercise 2: Swap-Function ✅

In [5]:
def my_function(a, b):
        return b, a 

x = 10
y = 5

my_function(x, y)

print(my_function(x, y))

(5, 10)

## Exercise 3: Computing distance ✅

In [12]:
from math import sqrt

def distance(a, b):
    return sqrt((a[0]-b[0]) **2 + (a[1]-b[1]) **2) # distance calucalted with the euclidean norm
 
w = (0, 3)  
v = (4, 0)

print('The distance between point a and b is:', distance(w, v))

The distance between point a and b is: 5.0

## Exercise 4: Counting letters ✅

In [15]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [18]:
def counting(M, s):
    counter = 0
    for i in s.lower(): # set every character to lower and then just counted them to ignore the capitalization
            if i == M:
                counter += 1
    return counter


d = input('What Letter you want to count ? Letter:')
print('The letter ', d ,' appers', counting(d.lower(), s), 'times.')

What Letter you want to count ? Letter:m
The letter  m  appers 12 times.

## Exercise 5: Isolating the unique ✅

In [18]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [57]:
def unique(l):
    list1 = ([])
    for i in l:
        if i not in list1:
            list1.append(i)
    return list1
      
print(unique(l))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

## Exercise 6: Combination of functions ✅

In [20]:
def square(s):
    return s **2

def cube(s):
    return s **3

def sixth(s):
    return square(cube(s))

print(sixth(3))

729

## Exercise 7: Cubes ✅

In [31]:
list2 = []
for i in range(11):
    list2.append(i **3)
    
print(list2)

list2_2 = [*range(11)] # same but already filled list in beginning
for i in range(len(list2_2)):
    list2_2[i] = i **3
    
print(list2_2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [29]:

list3 = [*range(11)]
cube_list = [(i **3)for i in list3]
    
print(cube_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise 8: Nested list comprehension ✅

In [95]:
triple = [[]]
more_triple = [(a, b, c) for a  in range(1, 100) for b in range(1, 100) for c in range(1, 100) if a **2 + b **2 == c ** 2]

for i in range(len(more_triple)):
    more_triple[i] = sorted(more_triple[i]) # sorted the triples, c will always be last so its just for a and b

check_list = []
unique_triple = []
for i in range(len(more_triple)):
    if (more_triple[i][0], more_triple[i][1]) not in check_list: # same as in task 5, removed duplicates of a,b
        check_list.append((more_triple[i][0], more_triple[i][1]))
        unique_triple.append(tuple(more_triple[i])) # list of unique pythagorean triple's


print(unique_triple)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

## Exercise 9: Normalization ✅

In [4]:
def normalizer(a):
    list4 = ([])
    for i in a:
        list4.append(i/max(a)) # normalized by dividing with the largest element
    return tuple(list4)

a = (3,4,5)

normalizer(a)

(0.6, 0.8, 1.0)